/* TrueFalse.css */

.truefalse-container {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  margin-bottom: 20px;
}

.truefalse-container h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.true-false {
  margin-bottom: 20px;
}

.true-false p {
  font-size: 1rem;
  margin-bottom: 10px;
}
