/* TopNavbar.css */

.top-navbar {
  background-color: #3a3932;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo {
  font-size: 24px;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu ul li {
  display: inline-block;
  margin-right: 20px;
}

.menu ul li:last-child {
  margin-right: 0;
}

.menu ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.menu ul li a:hover {
  color: #ddd;
}
