.mcq-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.mcq {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #f0eee5;
  border-radius: 5px;
}

.question {
  font-weight: bold;
  margin-bottom: 10px;
}

ul {
  list-style-type: upper-alpha;
  padding-left: 20px;
}

li {
  margin-bottom: 5px;
  cursor: pointer;
}

.option {
  cursor: pointer;
}

.option.correct, .correct {
  color: green;
  font-weight: bold;
}

.option.incorrect, .incorrect {
  color: red;
  font-weight: bold;
}

.option.selected {
  color: #b93200;
  font-weight: bold;
}

.answer {
  font-weight: bold;
  margin-bottom: 10px;
  color: #854026;
}

.answer.correct {
  color: green;
}

button {
  display: block;
  margin: 20px auto 0;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ba5b38;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #e55926;
}