/* BottomNavbar.css */

.bottom-navbar {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.links ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.links ul li {
  display: inline-block;
  margin-right: 20px;
}

.links ul li:last-child {
  margin-right: 0;
}

.links ul li a {
  color: #fff;
  text-decoration: none;
}

.links ul li a:hover {
  color: #ddd;
}

.social-icons a {
  color: #fff;
  text-decoration: none;
  margin-left: 10px;
}

.social-icons a:hover {
  color: #ddd;
}
