.container {
  text-align: center;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.sign-in-btn, .sign-out-btn {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #4285F4;
  color: #FFF;
  margin: 10px; /* Add margin to separate buttons */
}

.sign-out-btn {
  background-color: #EA4335;
}

.sign-in-btn:hover, .sign-out-btn:hover {
  opacity: 0.8;
}
