/* App.css */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  background-color: #f5f4ef;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #333;
  color: white;
  z-index: 1000;
  padding: 10px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #333;
  color: white;
  z-index: 1000;
  padding: 10px;
}

.main-content {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 120px); /* Adjust this value based on your header and footer height */
}

.left-nav {
  position: fixed;
  top: 48px; /* Adjust this value based on your header height */
  left: 0;
  width: 20%;
  height: calc(100vh - 120px); /* 100vh (full viewport height) minus header and footer height */
  background-color: #ded8c4;
  color: white;
  overflow-y: auto;
  transition: transform 0.3s ease;
  border-radius: 1px 10px 5px 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 999;
}

.left-nav.collapsed {
  transform: translateX(-100%);
}

.left-nav button {
  margin-bottom: 10px;
  border-radius: 20px;
  margin-left: 10px;
  align-items: flex-start;
}

.left-nav select,
.left-nav input {
  width: 80%;
  height: 20px;
  margin-bottom: 10px;
  border-radius: 20px;
  margin-left: 10px;
  text-align: center;
}

.left-nav ul {
  list-style-type: none;
  padding: 0;
}

.left-nav li {
  padding: 1rem;
  cursor: pointer;
}

.left-nav li:hover {
  background-color: #555;
}

.content-area {
  margin-left: 20%;
  width: 80%;
  padding: 20px;
  overflow-y: auto;
}

.content-area.collapsed {
  width: 100%;
  margin-left: 0;
}


.expand-button {
    display: none; /* Initially hide the button */
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 9999; /* Ensure it's above other elements */
}

.generate-button,
.collapse-button {
  background-color: #ba5b38;
  color: white;
  border: 1px solid #333;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  margin-top: 10px;
}

.expand-button:hover,
.left-nav button:hover,
.collapse-button:hover {
  background-color: #e55926;
}

.expand-button:active,
.collapse-button:active {
  background-color: #ccc;
}

.expand-button {
    display: none; /* Hide the expand button by default */
}

.left-nav.collapsed .expand-button {
    display: block; /* Display the expand button when the navbar is collapsed */
}