/* App.css */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  background-color: #f5f4ef;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #333;
  color: white;
  z-index: 1000;
  padding: 10px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #333;
  color: white;
  z-index: 1000;
  padding: 10px;
}

.main-content {
  display: flex;
  flex-direction: row;
  flex: 1;
  padding-top: 60px;
  padding-bottom: 60px;
}

.left-nav {
  position: fixed;
  top: 48px;
  left: 0;
  height: calc(100vh - 120px);
  width: 20%;
  background-color: #ded8c4;
  color: white;
  overflow-y: auto;
  transition: transform 0.3s ease;
  border-radius: 1px 10px 5px 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 999;
}

.left-nav.collapsed {
  transform: translateX(-100%);
}

.left-nav button {
  margin-bottom: 10px;
  border-radius: 20px;
  margin-left: 10px;
  align-items: flex-start;
}

.left-nav select,
.left-nav input {
  width: 80%;
  height: 20px;
  margin-bottom: 10px;
  border-radius: 20px;
  margin-left: 10px;
  text-align: center;
}

.left-nav ul {
  list-style-type: none;
  padding: 0;
}

.left-nav li {
  padding: 1rem;
  cursor: pointer;
}

.left-nav li:hover {
  background-color: #555;
}

.content-area {
  flex: 1;
  padding: 20px;
  margin-left: 20%;
  width: 70%;
  height: 100%;
  overflow-y: auto;
}

.content-area.collapsed {
  width: 90%;
  margin-left: 0;
}

.expand-button,
.generate-button,
.collapse-button {
  background-color: #ba5b38;
  color: white;
  border: 1px solid #333;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  margin-top: 10px;
}

.expand-button:hover,
.left-nav button:hover,
.collapse-button:hover {
  background-color: #ead2ad;
}

.expand-button:active,
.collapse-button:active {
  background-color: #ccc;
}