/* App.css */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  background-color: #f5f4ef;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #333;
  color: white;
  z-index: 1000;
  padding: 10px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #333;
  color: white;
  z-index: 1000;
  padding: 10px;
}

.main-content {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 100px); /* Adjust this value based on your header and footer height */
}

.content-area {
  width: 80%;
  padding: 20px;
  overflow-y: auto;
}

.content-area.collapsed {
  width: 100%;
  margin-left: 0;
}


.expand-button {
    display: none; /* Initially hide the button */
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 9999; /* Ensure it's above other elements */
}

.generate-button,
.collapse-button {
  background-color: #ba5b38;
  color: white;
  border: 1px solid #333;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  margin-top: 10px;
}

.expand-button:active,
.collapse-button:active {
  background-color: #ccc;
}

.expand-button {
    display: none; /* Hide the expand button by default */
}

.loading-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.loading-icon img {
    width: 160px; /* Adjust the width of the loading icon as needed */
    height: 160px; /* Adjust the height of the loading icon as needed */
}